@model tech_test_payment_api.Models.Item

@{
    ViewData["Title"] = "Cadastrar item";
}

<h1>Cadastrar item</h1>

<br/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateItem">
            <div class="form-group">
                <label asp-for="Descricao" class="control-label">Descrição</label>
                <input asp-for="Descricao" class="form-control" />
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</br>
<div>
    <a asp-action="Index">Voltar</a> | <a asp-action="Create">Registrar venda</a>
</div>