@model tech_test_payment_api.Models.Vendedor

@{
    ViewData["Title"] = "Cadastrar vendedor";
}

<h1>Cadastrar vendedor</h1>

<br/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateVendedor">
            <div class="form-group">
                <label asp-for="Cpf" class="control-label">CPF</label>
                <input asp-for="Cpf" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">E-mail</label>
                <input type="email" asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input type="tel" asp-for="Telefone" class="form-control" />
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</br>
<div>
    <a asp-action="Index">Voltar</a> | <a asp-action="Create">Registrar venda</a>
</div>