@model tech_test_payment_api.Models.Venda

@{
    ViewData["Title"] = "Registrar venda";
}

<h1>Registrar venda</h1>

<p>
    Vendedor não cadastrado? <a asp-action="CreateVendedor">Clique aqui</a> para cadastrar.
</p>
<p>
    Produto não cadastrado? <a asp-action="CreateItem">Clique aqui</a> para cadastrar.
</p>

<br/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="VendedorId" class="control-label">Vendedor</label>
                <input type="number" asp-for="VendedorId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ItemId" class="control-label">Item</label>
                <input type="number" asp-for="ItemId" class="form-control" />
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</br>
<div>
    <a asp-action="Index">Voltar</a>
</div>