@model tech_test_payment_api.Models.Venda

@{
    ViewData["Title"] = "Excluir Venda";
}

<h1>Deseja realmente deletar essa venda? Essa operação é irreversível</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VendedorId)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.VendedorId)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemId)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.ItemId)
        </dt>
    </dl>
</div>

<form asp-action="Delete">
    <input type="submit" value="Deletar" class="btn btn-danger">
</form>

<br>
<a asp-action="Index">Voltar</a>