@model tech_test_payment_api.Models.Vendedor

@{
    ViewData["Title"] = "Excluir Vendedor";
}

<h1>Deseja realmente deletar esse vendedor? Essa operação é irreversível</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dt>
    </dl>
</div>

<form asp-action="DeleteVendedor">
    <input type="submit" value="Deletar" class="btn btn-danger">
</form>

<br>
<a asp-action="ViewVendedor">Voltar</a>