@model tech_test_payment_api.Models.Item

@{
    ViewData["Title"] = "Excluir Item";
}

<h1>Deseja realmente deletar esse item? Essa operação é irreversível</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dt>
    </dl>
</div>

<form asp-action="DeleteItem">
    <input type="submit" value="Deletar" class="btn btn-danger">
</form>

<br>
<a asp-action="ViewItem">Voltar</a>