@model IEnumerable<tech_test_payment_api.Models.Venda>

@{
    ViewData["Title"] = "Menu de vendas";
}

<h2>Vendas</h2>

<p>
    <a asp-action="Create">Registrar Venda</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendedorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <a asp-action="ReadVendedor" asp-route-id="@item.VendedorId">@Html.DisplayFor(modelItem => item.VendedorId)</a>
                </td>
                <td>
                    <a asp-action="ReadItem" asp-route-id="@item.ItemId">@Html.DisplayFor(modelItem => item.ItemId)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Atualizar status</a> |
                    <a asp-action="Read" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="ViewVendedor">Mostrar vendedores</a> | <a asp-action="ViewItem">Mostrar itens</a>
</p>