@model tech_test_payment_api.Models.Venda

@{
    ViewData["Title"] = "Detalhes da venda";
}

<h1>Detalhes da venda</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VendedorId)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.VendedorId)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemId)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.ItemId)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dt>
    </dl>
</div>
<a asp-action="Update" asp-route-id="@Model.Id">Atualizar status</a>
<a asp-action="Index">Voltar</a>