@model tech_test_payment_api.Models.Vendedor

@{
    ViewData["Title"] = "Detalhes do vendedor";
}

<h1>Detalhes do vendedor</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dt>
    </dl>
</div>
<a asp-action="UpdateVendedor" asp-route-id="@Model.Id">Editar</a>
<a asp-action="ViewVendedor">Voltar</a>