@model tech_test_payment_api.Models.Item

@{
    ViewData["Title"] = "Detalhes do item";
}

<h1>Detalhes do item</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dt>
    </dl>
</div>
<a asp-action="UpdateItem" asp-route-id="@Model.Id">Editar</a>
<a asp-action="ViewItem">Voltar</a>