@model tech_test_payment_api.Models.Venda

@{
    ViewData["Title"] = "Atualizar status";
}

<h1>Atualizar status</h1>

<br/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="1">Pagamento Aprovado</option>
                    <option value="2">Enviado para Transportadora</option>
                    <option value="3">Entregue</option>
                    <option value="4">Cancelado</option>
                </select>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Atualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</br>
<div>
    <a asp-action="Index">Voltar</a>
</div>