@model IEnumerable<tech_test_payment_api.Models.Vendedor>

@{
    ViewData["Title"] = "Listagem de vendedores";
}

<h2>Vendedores</h2>

<p>
    <a asp-action="CreateVendedor">Cadastrar vendedor</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    <a asp-action="UpdateVendedor" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="ReadVendedor" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="DeleteVendedor" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Index">Mostrar vendas</a> | <a asp-action="ViewItem">Mostrar itens</a>
</p>