@model IEnumerable<tech_test_payment_api.Models.Item>

@{
    ViewData["Title"] = "Listagem de itens";
}

<h2>Itens</h2>

<p>
    <a asp-action="CreateItem">Cadastrar item</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    <a asp-action="ReadItem" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="DeleteItem" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Index">Mostrar vendas</a> | <a asp-action="ViewVendedor">Mostrar vendedores</a>
</p>